[% DEFAULT title = "Missing Title" %]
<html>
  <head>
    <title>[% title %]</title>
    <link rel="stylesheet"
      href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"
      type="text/css" rel="Stylesheet">
  </head>
  <body class="container">
  [% content %] 
  </body>
</html>

